header{
    color: white;
    font: bold 35px Arial;
    text-align: center;
}

body{
    background: blue;
}

div#mesa{
    width: 50%;
    margin: auto;
    padding: 20px;
    display: grid;
    grid-template-columns: 31% 31% 31%;
    grid-template-rows: auto auto auto;
}

div#mesa section{
    height: 100px;
    background: rgb(7, 169, 233);
    font: bold 40pt arial, sans-serif;
    text-align: center;
    line-height: 100px;
}

section#c1{
    border-right: 5px solid black;
    border-bottom: 5px solid black;
}
section#c2{
    border-right: 5px solid black;
    border-bottom: 5px solid black;
}
section#c3{
    border-bottom: 5px solid black;
}
section#c4{
    border-right: 5px solid black;
    border-bottom: 5px solid black;
}
section#c5{
    border-right: 5px solid black;
    border-bottom: 5px solid black;
}
section#c6{
    border-bottom: 5px solid black;
}
section#c7{
    border-right: 5px solid black;
}
section#c8{
    border-right: 5px solid black;
}

div#turnos{
    background-color: rgb(24, 23, 23);
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 10px;
}

div#turnos p{
    text-align: center;
    color: white;
    font: bold 20pt Arial;
}

div#jogadores{
    width: 35%;
    margin: auto;
    display: grid;
    grid-template-columns: 49% 49%;
    grid-template-rows: auto auto;
}

div#jogadores section{
    background: rgb(11, 14, 226);
    font: bold 20pt Arial;
    color: white;
    text-align: center;
    height: 60px;
    line-height: 60px;
    margin: 5px;
}

div#jogadores section:hover{
    background: chartreuse;
}


